.container{
    justify-content: center;
}
.navtab button{
    font:15px;
    color: white;
    font-weight: bold;
    text-transform: none;
}

.container h1{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 70px;

}
.container h2{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 10px;
}

.search2{ 
    padding:35px;
    width:49%;
    display: flex;
    margin:auto;
    justify-content: center;
}
.searchbut{
    width:20%;
}
.searchbar{
    width:80%;
}

.img-desc{
    width: 250px;
    height:200px;
    align-content: center;
    border-radius: 20px;
    padding:10px;
}

.gallery{
    margin-top: 200px;
}

.gallery h1{
    color:black;
}

.items{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}
.card{
    justify-content: center;
    align-items: center;
    margin:20px;
    cursor: pointer;
    border:1px solid #c3bfbf;
    border-radius: 20px;
}
.card h2{
    color :black;
    background-color:white;
    width: 100%;
    height: 50px;
    margin: auto;
}

.img-desc h1{
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
}


.card:hover > .img-desc{
    transition: 0.2s ease-in-out;
    opacity: 0.8;
    transform: scale(1.01);
}

.card:hover > .img-desc h1{
    transition: 0.2s ease-in-out;
    display: block;
    opacity: 1;
}
.signin{
    position: absolute;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1)) ,url(../../img/bg6.jpg) ;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    color:white;
    font-weight: bold;
    align-items: center;
    justify-content: center;

}
.login{
    height:60%;
    width: 30%;
    margin-bottom:20vh;
    background:rgba(40,20,20, 0.7);
    position: relative;
    color:white;
    border-radius: 20px;
    padding:30px;
}
.form-control:focus {
    
    border-color: #080808;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }
.login button{
    width:100%;
    margin-top:20px;
}
.login a{
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
}


.nav2 a{
    color:white;
}

.canteen h3{
    color:black;
    margin:10px;
    text-align: center;
}

.canteen .card{
    border-radius: 5px;
    display: flex;
    align-items: normal;
    background-color: rgba(0 0 0 / 3%);
    cursor:auto;
}

.canteen .container{
    margin-left: 20px;
    margin-bottom: 20px;
}

.canteen .card img{
    height:150px;
    width:200px;
    display: inline;
}

.canteen .card-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card .pic{
    display: inline;
    width:20%;
}
.description{
    width:60%;
    margin-left: 40px;
}

.canteen  h6{
    text-align: center;
}

.canteen li{
    width:60%;

}

.canteen ul{
    list-style-type: none;
    padding-left: 0px;
}





