.navtab button{
    font:15px;
    color: white;
    font-weight: bold;
    text-transform: none;
}

.container h1{
    justify-content: center;
    text-align: center;
    color: white;
    margin: 117px;
}